@import "../node_modules/ui-styles/variables.less";
@import "../node_modules/ui-styles/borders.less";

:host {
  display: inline-flex;
  box-model: border-box;
  position: relative;
  align-items: center;
  .cannot-select-text;
  section, label {
    cursor: pointer;
  }
  #checkframe {
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    min-width: 1em;
    width: 1em;
    min-height: 1em;
    height: 1em;
    .flat;
    .border;
    .transition(@transition);
    .light-tint;
  }
  #checkfill {
    position: relative;
    box-sizing: content-box;
    flex: 1;
    .dark-tint;
    .border;
    .transition(@input-transition);
    .transform(rotateY(180deg));
    opacity: 0;
  }
  #check[checked] ~ #checklabel {
    #checkfill {
      .transform(rotateY(0deg));
      opacity: 1;
    }
  }
  //hide it this way so that we can still get keytab focus
  input {
    position: absolute;
    opacity: 0;
    margin: 0;
    padding: 0;
  }
  ::content {
    > :first-child {
      margin-left: @margin;
      cursor: pointer;
    }
  }
}

:host([focused]) {
  #checkframe {
    .focused-border;
  }
}
